* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #44a7f5, #377fc0, #27598e, #15365f, #021733);
    background-size: cover;
    background-position: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.logo img {
    height: 110px;
}

.entre {
    margin-bottom: 40px;
}

.box {
    background-color: #fff;
    width: 360px;
    margin: 1px auto;
    padding: 20px 15px;
    border-radius: 10px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px black solid;
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.76);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.76); */
}

a:hover {
    color: #112B3C;
    border-bottom: #112B3C solid 1px;
}

.box h1 {
    color: #44a7f5;
}

.box form {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.box label {
    color: #555;
}

.box form input {
    height: 35px;
    outline: none;
    padding-left: 10px;
    width: 100%;
    border-style: none;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 8px;
}

.box form label {
    display: block;
    margin-bottom: 4px;
}

.btn-cad {
    height: 45px;
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 20px;
    background-color: #44a7f5;
    border-radius: 10px;
    border: none;
    transition: all .4s ease-in-out
}

.btn-cad:hover {
    background-color: #112B3C;
    color: white;
}