* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background: #112B3C;
}

::-webkit-scrollbar-track {
    background-color: #112B3C;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #100e34;
}

::-webkit-scrollbar-thumb {
    background: #6FCBA2;
}

.container{
    margin-top: -10%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.content-image{
    width: 50%;
    height: 100%;
}

.content-image img {
    height: 745px;
    width: 90%;
}

.content-form{
    margin: 20% 10% 5% 5%;
    height: 60%;
    background-color: #6FCBA2;
    width: 40%;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 3%;
    color: aliceblue;
    justify-content: center;
}

.content-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.content-form h1{
    margin-bottom: 2%;
    color: #112B3C;
    font-weight: 800;
}

.content-form button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    color:aliceblue;
    margin-bottom: 5%;
    cursor: pointer;
}

.content-form a{
    margin-bottom: 5%;
}

.content-form form label, input{
    margin-bottom: 15%;
}

.content-form .btn-entrar{
    margin-top: 5%;
    width: 120px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: #112B3C;
    font-weight: 600;
    cursor: pointer;
    color: aliceblue;
}

.input-container {
    position: relative;
  }
  
  input {
    border: 0;
    border-bottom: 2px solid #112B3C;
    background-color: transparent;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
  }
  
  label {
    top: 0;
    left: 0; right: 0;
    color: #112B3C;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
  }
  
  input,
  label {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
  }
  
  /* Interation */
  input:valid,
  input:focus {
    border-bottom: 2px solid white;  
  }
  
  input:valid + label,
  input:focus + label {
    color: white;
    font-size: 1rem;
    top: -30px;
    pointer-events: none;
  }