:root{
    --color-1: #F6F6F6;
    /* --color-1: #FFF; */
    --color-2: #100e34;
    --color-3: #333034;
    --color-4: #323232;
    --color-5: #9AA7B2;
    --color-6: #6FCBA2;
    --font-title: 'Orbitron', sans-serif;
    --font-subtitle: 'Quicksand', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--color-1);
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background-color: var(--color-1);
    scroll-behavior: smooth;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-3);
    scroll-behavior: smooth;
}

/*SIDEBAR*/

.nav{
    display: block;
    width: 280px;
    height: 100%;
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-3);
}

.nav .logo{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.nav .logo img{
    width: 100px;
    transition: all .4s ease-in-out;
}

.nav .logo span{
    font-weight: 900;
    font-size: 22px;
    font-family: var(--font-title);
}

.nav .menu{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 50%;
    margin-bottom: 70%;
}

.nav .menu li{
    display: block;
    padding-left: 20px;
    margin-bottom: 10px;
    list-style: none;
}

.nav .menu li a{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color-1);
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px 0 0 30px;
    transition: all .4s ease-in-out;
}

.nav .menu li a .bx, .fa{
    margin-right: 15px;
}

.nav .menu li a:hover{
    color: var(--color-3);
    background-color: var(--color-1);
}

.nav .menu li.active a{
    color: var(--color-3);
    background-color: var(--color-1);
}

.nav .log-out{
    font-size: 32px;
    color: var(--color-1);
    text-align: center;
    list-style: none;
}

.nav .log-out a{
    color: var(--color-1);
}

/*MAIN*/

.content{
    width: calc(100% - 280px);
    height: 100%;
    min-height: 100vh;
    position: relative;
    float: right;
    background-color: var(--color-1);
}

.content .header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    border-bottom: 1px solid var(--color-5) ;
}

 .content .header .button{
    display: flex;
    align-items: center;
    color: var(--color-2);
    font-weight: 900;
    background: none;
    border: none;
    cursor: pointer;
} 

.content .header .button .bx{
    margin-right: 10px;
}

.content .header .form{
    position: relative;
    width: 400px;
}

.content .header .form input{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--color-3);
    padding-left: 15px;
    transition: all .4s ease-in-out;
}

.content .header .form button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    color: var(--color-3);
} 

.content .header .form input,
.content .header .form button{
    outline: none!important;
}

.content .header .form input:focus{
    border: 1px solid var(--color-4) ;
}

.content .header .form input::placeholder{
    color: var(--color-3);
}

.content .header .box-profile{
    display: flex;
    align-items: center;
    /* align-items: flex-end; */
    justify-content: flex-end;
}

.content .header .box-profile img{
    width: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.content .header .box-profile .name{
    color: var(--color-2);
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.content .header .box-profile .name span{
    display: block;
    font-size: 10px;
    font-weight: normal;
}

.table-responsive{
    width: 810px;
}

.table-responsive table, td, th {  
    border: 2px solid rgb(107, 106, 106);
    text-align: left;
    font-size: 14px;
    text-align: center;
  }
  
.table-responsive table {
    border-collapse: collapse;
    width: 100%;
  }
  
.table-responsive th, td {
    padding: 15px;
  }

.table-responsive .bxs-circle{
    font-size: 20px;
}

.table-responsive  .error{
    color: #A00000;
}

.table-responsive  .maintenance{
    color: #FEBE00;
}

.table-responsive  .working{
    color: #30AD23;
}

/*SECTION*/

.content .section{
    width: 100%;
    padding: 15px 15px;
}

.row{
    /* position: relative; */
    z-index: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.card-plus-title{
    margin: 0 5vh 0 5vh;
}

.title-label {
    margin-left: 0%;
    font-size: 18pt;
}

.content .section .container-content{
    padding-top: 15px;
    padding-bottom: 5px;
}

.content .section .container-content .title{
    font-size: 22px;
    font-weight: 900;
    color: var(--color-2);
}

.content .section .cards .card{
    width: 35vh;
    height: 18vh;
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: var(--color-3);
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transition: all .4s ease-in-out;
}

.chart-section{
    margin: 10vh 6vh 0 6vh;
}

.content .section .cards .card:hover{
    background-color: var(--color-4);
}

.content .section .cards .card .desc span{
    display: block;
    font-size: 32px;
    color: var(--color-1);
}

.content .section .cards .card .desc p{
    color: var(--color-1);
}

.content .section .cards .card .bx{
    color: var(--color-1);
    font-size: 32px;
}


.content .section .charts .card-chart{
    width: 390px;
    height: 300px;
    padding: 15px 15px;
    margin: 1vh;
    border-radius: 8px;
    background-color: var(--color-3);
    border: none;
    transition: all .4s ease-in-out;
}

.content .section .charts .card-chart canvas{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: var(--color-1);
    border-radius: 8px;
}

.canva-chart {
    width: 75vh;
    /* margin: 0 5% 0 0; */
}

/* CARDS ESTAÇÃO */

.all-station-cards{
    margin: 5vh 10vh 5vh 10vh;
    display: flex;
}
.station-card {
    margin: 0 5% 2% 0%;
    width: 27vh;
    height: 28vh;
    padding: 10px;
    background-color: #60C3D8;
    color: var(--color-1);
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    -webkit-box-shadow: 6px 11px 6px 1px rgba(117,117,117,0.77); 
    box-shadow: 6px 11px 6px 1px rgba(117,117,117,0.77);
    border: 2px solid var(--color-5)
}

.card-title {
    margin: 2% 0 2% 0;
    font-family: var(--font-subtitle);
}

.card-content {
    display: flex;
    flex-direction: column;
    font-size: 123%;
    font-family: var(--font-subtitle);
}

.card-content span {
    margin: 2% 0 2% 0;
}

/*RESPONSIVIDADE*/

@media (max-width: 1399.98px){
    .content .section .cards .card .desc span{
        font-size:26px;
    }

    .nav .logo span{
        font-size: 19px;
    }

    .station-card {
        height: 35vh;
        width: 35vh;
    }
}
@media (max-width: 1199.98px){
    .nav{
        width:200px;
    }

    .nav .logo span{
        font-size: 13px;
    }
    .content{
        width: calc(100% - 200px);
    }

    .content .section .charts .card-chart canvas{
        width: 50%;
    }
    .canva-chart {
        width: 50vh;
    }

    .station-card {
        height: 45vh;
        width: 40vh;
    }
}
