* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar-track {
    background-color: #112B3C;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #112B3C;
}

::-webkit-scrollbar-thumb {
    background: #6FCBA2;
}

.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0003;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    z-index: 5;
    transition: 0.4s;
}

.general-title {
    color: #6FCBA2;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
}

.general-title h1 {
    font-size: 30px;
}

.pink-stroke {
    margin: auto;
    background-color: #112B3C;
    width: 100%;
    height: 3px;
    text-align: center;
    margin-top: 10px;
    border: none;
}

.black-layer {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0px 6px 25px -2px rgba(0, 0, 0, 0.75);
}

.logo-img {
    background: url(../img/icon.png) no-repeat;
    background-size: contain;
    height: 80%;
    width: 100px;
    cursor: pointer;
}

.nav-menu {
    width: fit-content;
    height: 20%;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
}

.nav-menu .btn-login{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    background-color: #6FCBA2;
    width: 80px;
    height: 25px;
    font-size: 14px;
    justify-content: center;
    padding-top: 3px;
    border-radius: 5px;
}

.nav-menu .btn-login a{
    text-decoration: none;
    color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    transition: 0.15s all ease-in-out;
}
.nav-menu ul li a {
    text-decoration: none;
    color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    transition: 0.15s all ease-in-out;
}

.nav-menu ul li a:hover {
    text-decoration: none;
    color: #FFF;
    border-bottom: 3px solid #6FCBA2;
    padding-bottom: 8px;
}

.bg-container {
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    z-index: -5;
    background-attachment: fixed;
}

.img-home-text {
    width: fit-content;
    color: white;
    text-align: center;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-left {
    background-color: #6FCBA2;
}

.btn-right {
    background-color: #112B3C;
}

.btn-left, .btn-right {
    padding: 13px;
    margin: 10px;
    font-size: medium;
    width: 200px;
    color: white;
    border: none;
    border-radius: 3px;
}

.btn-right:hover {
    cursor: pointer;
    background-color: #112B3C;
}

.btn-left:hover {
    cursor: pointer;
    background-color: #6FCBA2;
}

.boxes {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes-item {
    margin: 15px 5px;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(189, 189, 189, 0.75);
    border-radius: 10px;
    border-radius: 2px;
}

.content {
    width: 100%;
    height: auto;
    min-height: 50vh;
    position: relative;
    overflow: unset;
}

.absolute-orientation {
    position: absolute;
    top: -30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-container {
    margin-bottom: 50px;
}

.box-icon {
    background-color: #6FCBA2;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    text-transform: uppercase;
    color: #fff;
}

.box-text {
    width: 90%;
    text-align: center;
}

@media(max-width: 500px) {
    .navbar {
        display: none;
    }
}

@media(max-width: 840px) {
    .section-contato .Caixa {
        width: 90% !important;
    }
}

.section-sobreNos {
    width: 100%;
    height: auto;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.section-sobreNos .container {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 80px;
}

.section-sobreNos .container .text {
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

.section-sobreNos .container p {
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

.section-sobreNos .box .container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 23px;
}

.section-sobreNos .box-item {
    width: 210px;
    margin: 25px;
}

.section-sobreNos .box-item img {
    width: 70%;
}

.section-sobreNos .box-item h3 {
    margin: 13px;
}

.section-sobreNos .box-item p {
    font-size: 18px;
}



.container-contact-us {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

.form-title {
    color: #6FCBA2;
    text-align: center;font-size: 20px;
    text-transform: uppercase;
}

.line-form{
    width: 240px;
    margin-top: 2%;
    height: 3px;
    border-radius: 10px;
    background: #112B3C;
}

.image-contact-us {
    width: 40%;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.image-contact-us img {
    width: 80%;
}

.container-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form h1 {
    color: #6FCBA2;
}

.content-form {
    padding-top: 40px;
    width: 400px;
}


.content-form input,
select,
option {
    margin-top: 4%;
    margin-bottom: 4%;
    border: none;
    outline: 0;
    background-color: #112B3C;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    color: #FFF;
}

.content-form textarea {
    width: 400px;
    height: 100px;
    border: none;
    outline: 0;
    margin-top: 10px;
    background-color: #112B3C;
    border-radius: 5px;
    color: var(--color-white);
}

.content-form label {
    font-weight: bold;
    color: #6FCBA2;

}

.content-form button {
    color:#FFFFFF;
    background-color: #112B3C;
    border: none;
    cursor: pointer;
    border: none;
    outline: 0;
    font-size: 30;
    font-weight: 500;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 15px;
}

footer {
    background: #112B3C;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    color: #FFFFFF;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #112B3C;
}

.footer-content h3 {
    color: #6FCBA2;
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3rem;
}

.footer-content .sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 1rem 0;
}

.footer-content .sociais li {
    margin: 10px 12px;
}

.footer-content .sociais a {
    text-decoration: none;
    color: #FFF;
}

.footer-content .sociais a i {
    font-size: 1.8rem;
}

.footer-content .sociais a i:hover {
    color: #6FCBA2;
}

.footer-bottom {
    background: #6FCBA2;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    color: #FFF;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}